body{
	background: black
}

.contaire-titre{

}


h1{
	color: white;
	font-family: 'Echinos Park Script PERSONAL USE ONLY';
	margin-top: -10px;
}

a{
	text-decoration: none;
	font-family: 'Echinos Park Script PERSONAL USE ONLY';
	font-size: 30px;
	color: white;
	margin-left: 50px;
}

#slide-recette{
	display: flex;
	justify-content: center;
}

.carte-recette{

	width: 337px;
	height: 400px;
	margin-left: 12px;
	margin-bottom: 12px;
	background: white;
	margin-top: 12px;
}

.carte-recette1{

	width: 337px;
	height: 400px;
	margin-left: 12px;
	margin-bottom: 12px;
	background: white;
	margin-top: 12px;
}

p{
margin-left: 12px;
}

img.bas-de-page{
	width: 100%;
}

footer{
	height:450px; 
	display: flex;
	margin-top: 30px;
}
